* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}


ul  {list-style-type: none;
  width: 100%;
  background-color: #555;
  overflow: auto;
}

li a {
 float: left;
  padding: 12px;
  color: gold;
  text-decoration: none;
  font-size: 17px;
  width: 33%; 
  text-align: center;
}

li a.active {
  background-color: #aaaf8e;
  color: hotpink;
}

li a:hover:(.active) {
  background-color: #555;
  color: white;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
    
article {
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #f1f1f1;
  height: 300px; 
    }


    


